@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500&family=Noto+Sans+Georgian:wght@200;400;600;700;800&family=Poppins:wght@200;300;400;500;800;900&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Syncopate:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .eye{
        width: 40px;
        height: 40px;
        background: white;
        position: absolute;
        top: 42%;
        left: 8%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 4px solid black;
        border-radius: 75% 0;
        overflow: hidden;
    }
    .pupil{
        width: 25px;
        height: 25px;
        background: #000;
        border: 10px solid black;
        border-radius: 50%;
        position: absolute;
        transform: translate(16%, -45%);
        top: 45%;
    }
    .eyelid{
        width: 150px;
        height: 80px;
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-70%, -50%) rotate(-30deg);
        z-index: 1;
    }
    .eyelid span{
        width: 100%;
        height: 14%;
        display: block;
        background: black;
        border-bottom: 2px solid black;
        border-radius: 0 0 60% 60%;
        animation: blink 2s ease infinite;
    }
    @keyframes blink {
        0%{
            height: 15%;
        }
        10%{
            height: 15%;
        }
        40%{
            height: 100%;
        }
        50%{
            height: 15%;
        }
        60%{
            height: 15%;
        }
        70%{
            height: 100%;
        }
        80%{
            height: 15%;
        }
        100%{
            height: 15%;
        }
    }

    @media screen and (max-width: 1024px) {
        .eye{
            width: 34px;
            height: 34px;
            border: 3px solid black;
            margin-left: 16px;
        }
        .pupil{
            width: 10px;
            height: 10px;
            border: 12px solid black;
        }
    }
}